<div class="jumbotron">
    <h1>Chat Room</h1>

</div>

<div id="ChatBox" style="display: grid;border-style: solid;margin-bottom: 10px;">
</div>

<div>

    <input type="text" name="messageWindow"/>
    <button onclick="sendMessage()">Send</button>
    
</div>