<div class="jumbotron">
    <h1>Chat Room</h1>

</div>
<div>

    <input type="text" name="messageWindow"/>
    <button onclick="sendMessage()">Send</button>
    @* <button onclick="href = '/Chat/SendMessage'">Send</button> *@
    
</div>